table {
    width:500px;
    height:500px;
    border-collapse: collapse;
}
th {
    border:none;
}
.text {
    border: none;
    text-align: center;
}
body {
    background-color: rgb(241, 149, 11);
}